.menu{
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 1;
    display: inline-flex;
    border-radius: 25px;
    padding: 16px; 
    width: 300px;
    transition: width 0.5s;
    overflow: hidden;
}

.personApi{
    display: inline-flex;
    flex-direction: row;  
    width: 100%;  
}